/* -- Reset -- */
*{
	box-sizing: border-box;
}

body, html{
	width: 100%;
	height: 100%;
}
h1, h2, h3, p{
	margin: 0;
	padding: 0;
	font-weight: 500;
}

button{
	outline: none;
}

/* --- Body Styles --- */

body {
	background-color: #f4f5f7;
	margin: 10px;
	font-family: Arial, san-serif;
}


/* --- Product Section --- */

.store-container{
	max-width: 1120px;
	margin: 0 auto;
}

.store-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.store-title{
	font-size: 51px;
	color: #222222;
	letter-spacing: -1.07px;
	line-height: 44px;
	padding-bottom: 33px;
}

.cart-status{
	position: relative;
	font-size: 14px;
	color: #292929;
	letter-spacing: 0;
	padding-top: 25px;
	cursor: pointer;
	&::before{
		content: " ";
		position: absolute;
		top: 25px;
    	left: -23px;
		width: 17px;
		height: 14px;
		background: url('../assets/icons/cart_icon.png');
	}
	&:hover{
		color: #407FC0;
		&::before{
			background-position: 17px 0;
		}
	}
}

.products-section{
	border-top: solid 2px #DADADA;
	padding: 26px 0 0 0; 
}
.product-detail{
	display: flex;
	position: relative;
	flex-direction: row;
	background-color: #FFFFFF;
	border-radius: 8px;

	.product-detail-contents{
		padding: 37px 75px 40px 56px;
		.product-title{
			font-size: 38px;
			color: #000000;
			letter-spacing: -0.41px;
			margin: 0;
			padding-bottom: 19px;
		}
		.inventory-amount{
			font-size: 13px;
			color: #939393;
			letter-spacing: 0;
			text-transform: uppercase;
			padding-bottom: 88px;
		}
		.product-price{
			position: absolute;
			right: 30px;
			top: 40px;
			font-size: 21px;
			color: #202020;
			letter-spacing: -0.27px;
			text-align: right;
		}

		.add-to-cart-btn {
			background: #5E97D1;
			border-radius: 100px;
			font-size: 14px;
			color: #FFFFFF;
			letter-spacing: -0.15px;  
			height: 41px;
			width: 139px;
			border: none;
			text-transform: uppercase;
			cursor: pointer;
			&:hover {
				background-color: #407FC0;
			}
			&:disabled{
				opacity: 0.4;
				cursor: default;
			}	
		}	
	}
}


/* --- Cart Section --- */

.cart-section{
	position:fixed;
	top: 50%;
	left: 50%;
  	transform: translate(-50%,-50%);
	padding: 30px 30px;
	background-color: #FFFFFF;
	border: 1px solid #E1E1E1;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17);
	border-radius: 14px;

	&.hide{
		display: none;
	}
}

.cart-close-btn{
	position: absolute;
	right: 25px;
	top: 25px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.cart-container-title{
	font-size: 28px;
	color: #000000;
	letter-spacing: -0.59px;
	line-height: 32px;
	margin-bottom: 20px;
}
.cart-items{
	border-top: solid 2px #DADADA;
	padding: 26px 0 0 0;

	.product-detail{

	}
	.product-img{
		width: 146px;
    	height: 102px;
	}
	.product-detail-contents{
		padding: 0 0 0 15px;
		.product-title{
			font-size: 24px;
			font-weight: 500;
			padding-bottom: 6px;
		}
		.inventory-amount{
			display: none;
		}
		.product-price{
			position: relative;
			right: auto !important;
			top: auto !important;
			text-align: left;
			font-size: 18px;
			font-weight: 500;
		}
		.remove-item-btn{
			border: none;
			padding: 28px 0px 0px 0px;
			font-size: 16px;
			color: #CC1D39;
		}
	}
}

.cart-item{
	margin: 0 0 40px 0;
	padding-bottom: 25px;
	border-bottom: 1px solid #e6e6e6;
}


.empty-cart-msg{
    //padding: 180px;
    text-align: center;
    width: 450px;
    height: 424px;
    margin: 0 auto;
	.cart-icon-lg{
		width: 94px;
		margin: 90px 0 25px 0;
	}
	.please-add-msg{
		font-size: 21px;
		letter-spacing: -0.44px;
		text-align: center;
		line-height: 28px;
		color: #919191;
	}
}


.total-cost{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 50px;

	.total-title{
		color: #9D9D9D
	}
}


.checkout-btn{
}

.amount-btn-container{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.amount-display{
	padding: 10px 50px;
	border: solid 1px #F5F5F5;
}

.amount-btn {
	background-color: #F5F5F5;
	height: 41px;
	width: 139px;
	color: #878787;
	border: none;
	font-size: 21px;
	&:hover {
		background-color: #5E97D1;
		color: #FFFFFF;
	}
	&:disabled {
  		background-color: #F9F9F9;
  		color: #D8D8D8;
	}

	&.decrease-amount-btn {
		border-radius: 40px 0 0 40px;
	}

	&.increase-amount-btn {
		border-radius: 0 40px 40px 0;
	}
}

.checkout-btn{
	background-color: #5E97D1;
	color: #FFFFFF;
	width: 100%;
	height: 50px;
	font-size: 16px;
	border: none;
	text-transform: uppercase;
	&:hover{
		background-color: #407FC0;
		color: #D8D8D8;
	}
}


/* Tablet Breakpoint */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

	.store-container{
		padding: 0 40px;
	}

	/* -- Product Section Tablet -- */
	.product-detail{

		.product-img{
			width: 269px;
			height: 198px;
		}

		.product-detail-contents{
			padding: 27px 38px 28px 37px;
			.product-title{
				font-size: 28px;
				padding-bottom: 11px;
			}
			.inventory-amount{
				font-size: 12px;
				padding-bottom: 44px;
			}
			.product-price{
				position: absolute;
				right: 30px;
				top: 25px;
			}			
		}
	}

	/* -- Cart Section Tablet -- */
	.empty-cart-msg{
	    //padding: 140px;
	}
}

/* Mobile Breakpoint */

@media only screen and (min-width: 320px) and (max-width: 768px){


	.store-container{
		padding: 0 15px;
	}

	/* -- Header -- */

	.store-header{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.store-title{
		font-size: 28px;
		padding-bottom: 0;
	}

	.cart-status{
		position: relative;
		padding: 5px 0 25px 21px;
		&::before{
			top: 5px;
	    	left: 0px;
		}
	}

	/* --- Product Section Mobile --- */

	.product-detail{
		display: flex;
		position: relative;
		flex-direction: column;
		background-color: #FFFFFF;
		border-radius: 8px;

		.product-img{
			width: 100%;
			border-radius: 8px;
		}

		.product-detail-contents{
			padding: 25px 25px 30px 25px;
			position: relative;
			.product-title{
				font-size: 21px;
				padding-bottom: 9px;
			}
			.inventory-amount{
				font-size: 12px;
				padding-bottom: 26px;
			}
			.product-price{
				position: absolute;
				right: 30px;
				top: 30px;
				font-size: 16px;
				color: #202020;
				letter-spacing: -0.27px;
				text-align: right;
			}

			.add-to-cart-btn {
				font-size: 13px; 
				height: 31px;
				width: 121px;	
			}	
		}
	}

	/* --- Cart Section Mobile --- */

	.cart-section{
		position: fixed;
		padding: 20px 20px;
		width: 100vw;
		height: 100vh;
		border:none;
		box-shadow: none;
		border-radius: 0;
	}
	.cart-close-btn{
		position: absolute;
	    right: 30px;
	    top: 20px;
	    width: 20px;
	    height: 20px;
	}
	.cart-container-title{
		font-size: 28px;
	}
	.cart-items{
		border-top: solid 2px #DADADA;
		padding: 26px 0 0 0;

		.product-detail{
			flex-direction: row;
		}
		.product-img{
			width: 107px;
	    	height: 78px;
		}
		.product-detail-contents{
			padding: 0 0 0 15px;
			.product-title{
				font-size: 16px;
				padding-bottom: 5px;
			}
			.inventory-amount{
				display: none;
			}
			.product-price{
				position: relative;
				right: auto;
				top: auto;
				text-align: left;
				font-size: 14px;
			}
			.remove-item-btn{
				border: none;
				padding: 22px 0px 0px 0px;
				font-size: 14px;
				color: #CC1D39;
			}
		}
	}

	.empty-cart-msg{
	    //padding: 60px;
	    margin: 0 auto;
	    width: 100%;
	    height: auto;
		.cart-icon-lg{
			width: 94px;
			margin-bottom: 25px;
		}
		.please-add-msg{
			font-size: 21px;
		}
	}

	.checkout-btn{
		position: absolute;
		width: 100%;
		height: 50px;
		bottom: 0;
		left: 0;
		font-size: 16px;
	}		
}